name: "Release by Tag"

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: read
  id-token: write

jobs:
  vars:
    runs-on: ubuntu-slim
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Set version
        id: version
        run: |
          VERSION=$(echo ${{ github.ref }} | sed -e 's/refs\/tags\///' | sed -e 's/refs\/heads\///' | sed -e 's/\//-/')
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build-unitypackage:
    runs-on: ubuntu-latest
    needs: [vars]
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          lfs: true

      - run: |
          mkdir -p dist

      - uses: natsuneko-laboratory/create-unitypackage@bbb27c1e955b84b7063c1db9ff3430d40bc3e110 # v3.2.0
        with:
          files-glob: |
            Assets/NatsunekoLaboratory/AnimatorControllerToolPostProcessing/**/*.*
          dest: dist/AnimatorControllerToolPostProcessing-${{ needs.vars.outputs.version }}.unitypackage

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: dist/*.unitypackage
          name: UnityPackages

  build-vpmpackage:
    runs-on: ubuntu-latest
    needs: [vars]
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          lfs: true

      - run: |
          mkdir -p dist

      - uses: natsuneko-laboratory/create-vpmpackage@afd6b5e106f88d14b915c0c538c0315d83bba447 # v1.5.0
        with:
          packages: |
            Assets/NatsunekoLaboratory/AnimatorControllerToolPostProcessing/package.json
          outputs: |
            dist/AnimatorControllerToolPostProcessing-${{ needs.vars.outputs.version }}.zip

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          path: dist/*.zip
          name: VPMPackages

  release:
    runs-on: ubuntu-slim

    permissions:
      contents: write
      id-token: write
    needs:
      - vars
      - build-unitypackage
      - build-vpmpackage
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: ./dist

      - name: List artifacts
        id: items
        run: |
          ITEMS=$(find ./dist -type f)
          echo -e "$ITEMS"

      - name: Publish release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          prerelease: ${{ contains(needs.vars.outputs.version, 'alpha') || contains(needs.vars.outputs.version, 'beta') || contains(needs.vars.outputs.version, 'rc') }}
          generate_release_notes: true
          files: |
            ./dist/*/*.zip
            ./dist/*/*.unitypackage

      - name: Publish release (Remuria)
        uses: natsuneko-laboratory/publish-vpmpackage@af2855e0de469796240a21e22f5cc26985fdb6ec # v0.2.8
        if: startsWith(github.ref, 'refs/tags/')
        with:
          packages: |
            dist/VPMPackages/AnimatorControllerToolPostProcessing-${{ needs.vars.outputs.version }}.zip
